<div class='room'>
<h1><%= @room.name %></h1>
<p><%= @room.description %><p>
</div>

<div class='exits'>
<ul>
<% @room.exits.each do |exit| %>
<li><%= link_to exit.name, room_path(exit.to_room) %></li>
<% end %>
</ul>
</div>