/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Colorsheme
http://www.colorschemer.com/schemes/viewscheme.php?id=8764
white:		#f2ffff
dark-red: 	#891225
orange: 	#e62900
brown:		#ce8e00
dark-yellow:#e0c800
br-yellow:	#e2f52c
brown-red	#6d2c2a
dark-grey	#302e29
dark-blue	#1f1b52
mid-blue	#2717a6
light-blue:	#3625e0
green:		#216221

*/
