/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Colorsheme
http://www.colorschemer.com/schemes/viewscheme.php?id=8764
white:		#f2ffff
dark-red: 	#891225
orange: 	#e62900 - people
brown:		#ce8e00
dark-yellow:#e0c800
yellow:		#e2f52c - exits
brown-red	#6d2c2a - visited
dark-grey	#302e29
dark-blue	#1f1b52
mid-blue	#2717a6
light-blue:	#3625e0
green:		#216221 - links

*/

#game{

}

#banner{
	border-bottom: 1px solid #f2ffff;	
}

#banner .signed_in_field{
	float: right;
}

#maincolumn{
	float: left;
	width: 600px;
	border-left: 1px solid #f2ffff;
	padding: 10px;
}

#maincolumn h1{
	color: #6d2c2a;
}

#leftcolumn{
	float: left;
	width: 200px;
	margin-left:50px;
}

#leftcolumn h1{
	font-size: 100%;
}

#rightcolum{
	float:left;
	width: 200px;
	padding-left: 10px;
}

#rightcolumn h1{
	font-size: 100%;
}

.exits a{
	color: #e2f52c;
}

.person {
	color: #e62900;
}