/* Colorsheme
http://www.colorschemer.com/schemes/viewscheme.php?id=8764
white:		#f2ffff
dark-red: 	#891225
orange: 	#e62900
brown:		#ce8e00
dark-yellow:#e0c800
br-yellow:	#e2f52c
brown-red	#6d2c2a
dark-grey	#302e29
dark-blue	#1f1b52
mid-blue	#2717a6
light-blue:	#3625e0
green:		#216221

*/

body {
  background-color: black;
  color: #f2ffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: white;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
